<div class="page-header">
  <h1>Start Wars Characters <small>Just Because</small></h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>
        Character
      </th>
      <th>
        Planet
      </th>
      <th>
        Vehicle
      </th>
      <th>
        Quote
      </th>
    </tr>
  </thead>
  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td>
          <%= character.character %>
        </td>
        <td>
          <%= character.planet %>
        </td>
        <td>
          <%= character.vehicle %>
        </td>
        <td>
          <blockquote >
            <%= character.quote %>
          </blockquote>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
