$primary: #F39C12;
$accent: #16A085;
body {
  background: #ECF0F1;
}
header {
  background: $primary;
  padding: 20px;
  a {
    color: $accent;
    font-size: 3rem;
    margin-right: 1.5rem;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}
